services:
  db:
    image: postgres:16-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: formify
      POSTGRES_USER: formify
      POSTGRES_PASSWORD: formify
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U formify" ]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
